header img {
	width: 80%;
}

nav ul li {
	display: block;
	list-style: none;
}

nav ul li a {
	width: 100%;
	font: 2em Rokkitt, Tahoma, Arial;
	color: #FFF;
	text-align: center;
	padding: 10px 0px 10px 0px;
	text-decoration: none;
	float: left;
}

/* menu não é exibido no mobile */
#menu {
	display: none;
}

#btnmenu {
	display: block;
}

/* banners não são exibidos no mobile */
#banner {
	display: none;
}

.receita {
	width: 100%;
}

.receita img {
	opacity: 1;
}

#sobre-maps {
	display: none;
}