* {
	margin: 0px;
	padding: 0px;
}

header {
	background: #ECB100;
	width: 100%;
	text-align: center;
}

nav {
	width: 100%;
	padding: 10px 0px 10px 0px;
	background: -webkit-linear-gradient(top, #F00, #FFC922);
	background: linear-gradient(top, #F00, #FFC922); /* para o Mozila FF */
	text-align: center;
	float: left;
}

nav ul li {
	display: inline;
	list-style: none;
}

nav ul li a {
	margin: 10px;
	font: 2em Rokkitt, Tahoma, Arial;
	color: #FFF;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	transition: all 0.5s;
}

nav ul li a:hover {
	background: #FFF;
	color: #000;
}

#btnmenu {
	display: none;
}

.receita {
	width: 50%;
	float: left;
	text-align: center;
	margin: 10px 0px 10px 0px;
}

.receita img {
	width: 80%;
	border: 10px solid #FFF;
	box-shadow: 1px 1px 5px #000;
	opacity: 0.8;
	transition: all 0.5s;
}

.receita img:hover {
	opacity: 1;
}

h1 {
	font: 3em Rokkitt, Tahoma, Arial;
	color: #F00;
	text-shadow: 1px 1px 3px #000;
	text-align: center;
	margin: 10px;
}

p {
	font-size: 2em Rokkitt, Tahoma;
	margin: 10px;
}

.btn {
	padding: 10px;
	background: #F00;
	color: #FFF;
	text-decoration: none;
	transition: all 0.5s;
}

.btn:hover {
	background: #B20000;
}

.no-cssgradients nav {
	background: #ECB100;
}

footer {
	width: 100%;
	background: #ECB100;
	padding: 10px 0px 10px 0px;
	float: left;
	text-align: center;
	font: 1em Rokkitt, Tahoma, Arial;
	color: #FFF;
}

footer a {
	text-decoration: none;
	opacity: 0.5;
	transition: all 0.5s;
}

footer a:hover {
	opacity: 1;
}